<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description"
          content="ThinkGO官网 & ThinkGO是一个轻量级的GO WEB应用框架，整合了各种常用SDK以及企业级常用的技术方案，为减少了开发人员的学习成本，提高团队的开发效率而生">
    <link rel="icon" href="../public/img/favicon.ico">
    <title>ThinkGO官网</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="p-6 md:p-12">
        <div class="text-8xl font-normal">:)</div>
        <h1 class="text-4xl mt-3">{{ .Title }}</h1>
        <h2 class="text-3xl mt-3">{{ .SubTitle }}</h2>
        <div class="flex flex-row items-center mt-5">
            <a href="https://www.think-go.com" class="text-blue-600 no-underline mr-4 text-lg hover:underline">完全开发手册</a>
            <a href="https://github.com/think-go/think-go" class="text-blue-600 no-underline mr-4 text-lg hover:underline">GitHub源码</a>
            <a class="text-blue-600 no-underline mr-4 text-lg hover:underline cursor-pointer">点击喜欢：{{ .Count }}</a>
        </div>
    </div>
    {{template "footer" .}}
</body>

</html>