<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description"
          content="Thinko 官网 & Thinko 是一个轻量级 GO WEB 应用框架，提供一套结构化、模块化的开发环境，为减少开发人员的学习成本，提高团队的开发效率而生">
    <link rel="icon" href="../public/img/favicon.ico">
    <title>Thinko 官网</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="p-6 md:p-12">
        <div class="text-8xl font-normal">:)</div>
        <h1 class="text-4xl mt-3">{{ .Title }}</h1>
        <h2 class="text-3xl mt-3">{{ .SubTitle }}</h2>
    </div>
    {{template "footer" .}}
</body>

</html>